@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#enterBtn {
    position: absolute;
    bottom: 5vh;
    left: 42vw;
    z-index: 3;
    width: 16vw;
    height: 10vh;
    background: rgb(220, 240, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;

    h3 {
        font-family: 'Raleway', sans-serif;
        color: #333;
        font-size: 1.6rem;
    }
}