@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#exitBtn {
    position: absolute;
    top : 4vh;
    left: 4vh;
    z-index: 3;
    width: 12vw;
    height: 7vh;
    background: transparent;
    border: 3px solid rgb(220, 240, 252);;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;

    h3 {
        font-family: 'Raleway', sans-serif;
        color: rgb(220, 240, 252);;
        font-size: 1.2rem;
    }
}

#returnBtn {
    position: absolute;
    top : 5.5vh;
    left: calc(8vh + 3px);
    z-index: 5;
    width: 12vw;
    height: 7vh;
    background: transparent;
    border: 3px solid rgb(220, 240, 252);;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;

    h3 {
        font-family: 'Raleway', sans-serif;
        color: rgb(220, 240, 252);;
        font-size: 1.2rem;
    }
}

#exitBtn {
    position: absolute;
    top : 4vh;
    left: 4vh;
    z-index: 3;
    width: 12vw;
    height: 7vh;
    background: transparent;
    border: 3px solid rgb(220, 240, 252);;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;

    h3 {
        font-family: 'Raleway', sans-serif;
        color: rgb(220, 240, 252);;
        font-size: 1.2rem;
    }
}

#enterBtn {
    position: absolute;
    bottom: 5vh;
    left: 44vw;
    z-index: 3;
    width: 12vw;
    height: 7vh;
    background: transparent;
    border: 3px solid rgb(220, 240, 252);;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;

    h3 {
        font-family: 'Raleway', sans-serif;
        color: rgb(220, 240, 252);;
        font-size: 1.2rem;
    }
}

#projectClickable {
    position: fixed;
    z-index: 3;

    .horizontalLine {
        position: absolute;
        left: 23vw;
        top: 50vh;
        width: 100px;
        height: 2px;
        background: white;
    }

    .verticalLine {
        position: absolute;
        left: 23vw;
        top: calc(50vh - 40px);
        width: 2px;
        height: 40px;
        background: white;
    }

    #project_enter {
        position: absolute;
        left: 18vw;
        top: calc(50vh - 11.5vh);
        width: 10vw;
        height: 6vh;
        background: transparent;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.4s;
        
        h3 {
            font-family: 'Raleway';
            transition-duration: 0.4s;
            color: white;
        }
    }

    #project_enter:hover {
        background: white;
        border: 2px solid transparent;

        h3 {
            color: #333;
        }
    }
}

.clickable {
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5s;
}

#aboutClickable {
    position: fixed;
    z-index: 3;

    .horizontalLine {
        position: absolute;
        left: 67vw;
        top: 50vh;
        width: 100px;
        height: 2px;
        background: white;
    }

    .verticalLine {
        position: absolute;
        left: calc(67vw + 98px);
        top: calc(50vh - 40px);
        width: 2px;
        height: 40px;
        background: white;
    }

    #about_enter {
        position: absolute;
        left: 69vw;
        top: calc(50vh - 11.5vh);
        width: 10vw;
        height: 6vh;
        background: transparent;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.4s;
        
        h3 {
            font-family: 'Raleway';
            transition-duration: 0.4s;
            color: white;
        }
    }

    #about_enter:hover {
        background: white;
        border: 2px solid transparent;

        h3 {
            color: #333;
        }
    }
}

#contactClickable {
    position: fixed;
    z-index: 3;

    .horizontalLine {
        position: absolute;
        left: 43vw;
        top: 74.5vh;
        width: 100px;
        height: 2px;
        background: white;
    }

    #contact_enter {
        position: absolute;
        left: calc(43vw + 100px);
        top: calc(74.5vh - 3vh);
        width: 10vw;
        height: 6vh;
        background: transparent;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.4s;
        
        h3 {
            font-family: 'Raleway';
            transition-duration: 0.4s;
            color: white;
        }
    }

    #contact_enter:hover {
        background: white;
        border: 2px solid transparent;

        h3 {
            color: #333;
        }
    }
}

#project_content {
    position: absolute;
    width: 96vw;
    height: 96vh;
    margin: 2vh 2vw 2vh 2vw;
    border-radius: 8px;
    opacity: 0;
    pointer-events: 'none';
    z-index: 2;
    transition-duration: 0.5s;
    background:rgba(26, 35, 41, 0.7);
    border: 3px solid rgb(76, 219, 255);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    #project_selectionArea {
        width: 47vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        #project_selection {
            width: 46vw;
            height: 81vh;
            display: flex;
            flex-direction: column;

            .selection_row {
                width: 46vw;
                height: 27vh;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .projectOption {
                    width: 22vw;
                    height: 25vh;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    .projectPic {
                        width: 92%;
                        height: 81%;
                        border-radius: 3px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        transition-duration: 0.3s;
                        border: 3px solid transparent;
                    }

                    .activeProject {
                        border: 3px solid rgb(76, 219, 255);
                    }

                    #project-1 {
                        background-image: url('../static/assets/cosmocoin.png');
                    }

                    #project-2 {
                        background-image: url('../static/assets/breffniInn.png');
                    }

                    #project-3 {
                        background-image: url('../static/assets/mountaineerV2.png');
                    }

                    #project-4 {
                        background-image: url('../static/assets/kostekpl.png');
                    }

                    #project-5 {
                        background-image: url('../static/assets/disneyPlus.png');
                    }

                    #project-6 {
                        background-image: url('../static/assets/mountaineerV1.png');
                    }
                }
            }
            
        }
    }

    #project_stageArea {
        width: 47vw;
        height: 90vh;
        //background: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        #stagedImage {
            width: 40vw;
            height: 40vh;
            background-image: url('../static/assets/cosmocoin.png');
            background-size: cover;
            background-repeat: no-repeat;
            transition-duration: 0.3s;
            border-radius: 3px;
        }

        #stagedInfo {
            width: 40vw;
            height: 45vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            #stagedTitle {
                padding: 20px 0px 0px 0px;
                font-family: 'Raleway';
                font-size: 1.1rem;
                color: rgb(230, 230, 230);
            }

            #stagedDesc {
                padding: 0px 0px 0px 0px;
                font-family: 'Raleway';
                font-size: 0.85rem;
                color: rgb(230, 230, 230);
            }

            #stagedButtons {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15vw;
                height: 6vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .stagedBtn {
                    width: 6vw;
                    height: 4vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Raleway';
                    transition-duration: 0.3s;
                    cursor: pointer;
                    font-size: 0.9rem;
                }

                #stagedLink {
                    margin: 0px 30px 0px 0px;
                    background: transparent;
                    border: 2px solid rgb(76, 219, 255);
                    color: rgb(76, 219, 255);
                    border-radius: 100px;
                    text-decoration: none;
                }
                #stagedGithub {
                    background: transparent;
                    border: 2px solid rgb(252, 255, 76);
                    color: rgb(252, 255, 76);
                    border-radius: 100px;
                    text-decoration: none;
                }

                #stagedLink:hover {
                    background: rgb(76, 219, 255);
                    color: #333;
                }

                #stagedGithub:hover {
                    background: rgb(252, 255, 76);
                    color: #333;
                }
            }

            #stagedTechTags {
                width: 40vw;
                height: 16vh;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: center;

                #techTitle {
                    width: 40vw;
                    height: 4vh;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-family: 'Raleway';
                    color: #fff;
                }

                #techTags {
                    width: 40vw;
                    height: 12vh;
                    display: inline;
                    align-items: center;
                    border-radius: 4px;
                    overflow-y: scroll;

                    .tag {
                        width: 10vw;
                        height: 4vh;
                        border-radius: 100px;
                        display: inline-block;
                        justify-content: center;
                        align-items: center;
                        margin: 5px;
                        

                        .tagContent {
                            width: 10vw;
                            height: 4vh;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            background: rgba(0,0,0,0);

                            h3 {
                                font-family: 'Raleway';
                                color: rgb(231, 231, 231);
                                font-size: 0.7rem;
                                
                            }
    
                            img {
                                width: 2vw;
                                height: 2.5vh;
                            }
                        }
                    }
                }
            }
        }

    }
}

#about_content {
    position: absolute;
    width: 96vw;
    height: 96vh;
    margin: 2vh 2vw 2vh 2vw;
    border-radius: 8px;
    opacity: 0;
    pointer-events: 'none';
    z-index: 2;
    transition-duration: 0.5s;
    background:rgba(26, 35, 41, 0.7);
    border: 3px solid rgb(76, 219, 255);
    backdrop-filter: blur(6px);
    
}

#contact_content {
    position: absolute;
    width: 96vw;
    height: 96vh;
    margin: 2vh 2vw 2vh 2vw;
    border-radius: 8px;
    opacity: 0;
    pointer-events: 'none';
    z-index: 2;
    transition-duration: 0.5s;
    background:rgba(26, 35, 41, 0.7);
    border: 3px solid rgb(76, 219, 255);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    #contact_info {
        width: 48vw;
        height: 82vh;
        background: red;
    }

    #contact_email {
        width: 48vw;
        height: 96vh;
        background: blue;
    }
}