@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
  }

  @keyframes success {
    0% { 
        transform: translateY(-10px);
        opacity: 0;
    }
    10% {
        transform: translateY(0px);
        opacity: 1;
    }
    90%  {
        transform: translateY(0px);
        opacity: 1;
    }
    100% { 
        transform: translateY(-10px);
        opacity: 0;
    }
  }


*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#sidebar {
    right: 0vw;
    top: 20vh;
    width: 12vw;
    height: 40vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;

    #emailOption {
        border-radius: 10px 0px 0px 0px;
    }

    #emailOption:hover {

        #emailCircle {
            background: rgba(255,255,255,0.25);

            #emailIcon {
                width: 1vw;
                height: 1vw;
                background-image: url('../static/copyIcon.png');

            }
        }

        #emailCircle:hover {
            #emailIcon {
                #copyTootTip {
                    display: flex;
                }
            }
        }
    }

    .sidebarOption {
        width: 3vw;
        height: 5vh;
        transition-duration: 0.5s;
        background: rgb(26, 26, 26);
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;

        #gitIcon {
            background-image: url('../static/github.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 1.5vw;
            height: 1.5vw;
        }

        #phoneIcon {
            background-image: url('../static/smartIcon.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 1.5vw;
            height: 1.5vw;
        }

        #linkedIcon {
            background-image: url('../static/linkedin.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 1.5vw;
            height: 1.5vw;
        }

        #emailCircle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2vw;
            height: 2vw;
            border-radius: 50%;
            background: rgba(255,255,255,0);
            transition-duration: 0.2s;

            #emailIcon {
                background-image: url('../static/emailIcon.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 1.5vw;
                height: 1.5vw;

                #copyTootTip {
                    position: absolute;
                    width: 10vw;
                    height: 3vh;
                    background: #333;
                    border-radius: 3px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Roboto';
                    font-size: 0.8rem;
                    color: #fff;
                    top: -3vh;
                    right: 13.5vw;
                    transition-duration: 0.3s;

                    #checkIcon {
                        display: none;
                        width: 2vh;
                        height: 2vh;
                        background-image: url('../static/checked.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }


        .sidebarText {
            display: flex;
            color: #fff;
            font-family: 'Roboto';
            font-weight: 100;
            position: absolute;
            right: -20vw;
            transition-duration: 0.5s;

            span {
                border-bottom: 2px solid transparent;
            }
        }
    }
    .sidebarOption:hover {
        width: 20vw;
        border-radius: 4px 0px 0px 4px !important;

        .sidebarText {
            position: relative;
            right: 0vw;

            span {
                border-bottom: 2px solid #fff;
            }
        }
        
    }

    #resumeSidebar {
        width: 3vw;
        height: 20vh;
        background: rgb(26, 26, 26);
        border-radius: 0px 0px 0px 10px;
        transition-duration: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            transform: rotate(-90deg);
            color: #fff;
            font-family: 'Roboto';
            font-weight: 100;
            height: 3vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #donwloadCont {
            width: 17vw;
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: -20vw;
            transition-duration: 0.5s;

            #downloadCircle {
                width: 15vh;
                height: 15vh;
                border-radius: 50%;
                background-color: rgba(255,255,255,0.25);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                #downloadIcon {
                    width: 8vh;
                    height: 8vh;
                    background-image: url('../static/fileDownload.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    #resumeSidebar:hover {
        width: 20vw;
        #donwloadCont{
            position: relative;
            right: 0vw;
            transition-duration: 0.5s;
        }
    }


}



#returnBtn {
    position: absolute;
    top : 5.5vh;
    left: calc(8vh + 3px);
    z-index: 5;
    width: 12vw;
    height: 7vh;
    background: transparent;
    border: 3px solid rgb(220, 240, 252);;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;

    h3 {
        font-family: 'Raleway', sans-serif;
        color: rgb(220, 240, 252);;
        font-size: 1.2rem;
    }
}

#exitBtn {
    position: absolute;
    top : 4vh;
    left: 4vh;
    z-index: 3;
    width: 12vw;
    height: 7vh;
    background: transparent;
    border: 3px solid rgb(220, 240, 252);;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;

    h3 {
        font-family: 'Raleway', sans-serif;
        color: rgb(220, 240, 252);;
        font-size: 1.2rem;
    }
}

#enterBtn {
    position: absolute;
    bottom: 5vh;
    left: 44vw;
    z-index: 3;
    width: 12vw;
    height: 7vh;
    background: transparent;
    border: 3px solid rgb(220, 240, 252);;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;

    h3 {
        font-family: 'Raleway', sans-serif;
        color: rgb(220, 240, 252);;
        font-size: 1.2rem;
    }
}

#projectCont {
    position: absolute;
    width: 16vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 5;

    #hex {
        width: 8vw;
        height: 4vw;
        background-image: url('../static/hexIcon.png');
        background-size: contain;
        background-repeat: no-repeat;
        order: 2;
    }

    #projectClickable {
        width: 9vw;
        height: 3vw;
        border: 2px solid #FAFE46;
        order: 1;
        margin-bottom: 0.75vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        transition-duration: 0.4s;
        cursor: pointer;
        z-index: 6;

        h3 {
            font-family: 'Raleway';
            font-weight: 200;
            color: #e3e641;
        }
    }

    #projectClickable:hover {
        background: #FAFE46;

        h3 {
            color: #2c2c2c;
        }
    }
}



#aboutCont {
    position: absolute;
    width: 16vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 5;

    #hex {
        width: 8vw;
        height: 4vw;
        background-image: url('../static/hexIcon2.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    #aboutClickable {
        width: 9vw;
        height: 3vw;
        border: 2px solid #FAFE46;
        order: 1;
        margin-bottom: 0.75vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        transition-duration: 0.4s;
        cursor: pointer;
        z-index: 6;

        h3 {
            font-family: 'Raleway';
            font-weight: 200;
            color: #e3e641;
        }
    }

    #aboutClickable:hover {
        background: #FAFE46;

        h3 {
            color: #2c2c2c;
        }
    }
}

#contactCont {
    position: absolute;
    width: 16vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 5;

    #hex {
        width: 8vw;
        height: 4vw;
        background-image: url('../static/hexIcon3.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    #contactClickable {
        width: 9vw;
        height: 3vw;
        border: 2px solid #FAFE46;
        order: 1;
        margin-bottom: 0.2vw;
        margin-right: 0.15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        transition-duration: 0.4s;
        cursor: pointer;
        z-index: 6;

        h3 {
            font-family: 'Raleway';
            font-weight: 200;
            color: #e3e641;
        }
    }

    #contactClickable:hover {
        background: #FAFE46;

        h3 {
            color: #2c2c2c;
        }
    }
}

 
#project_content {
    position: absolute;
    width: 96vw;
    height: 96vh;
    margin: 2vh 2vw 2vh 2vw;
    border-radius: 8px;
    opacity: 0;
    pointer-events: 'none';
    z-index: 2;
    transition-duration: 0.5s;
    background:rgba(26, 35, 41, 0.8);
    border: 3px solid rgb(76, 219, 255);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    #project_selectionArea {
        width: 47vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        #project_selection {
            width: 46vw;
            height: 81vh;
            display: flex;
            flex-direction: column;

            .selection_row {
                width: 46vw;
                height: 27vh;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .projectOption {
                    width: 22vw;
                    height: 25vh;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    .projectPic {
                        width: 92%;
                        height: 81%;
                        border-radius: 3px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        transition-duration: 0.3s;
                        border: 3px solid transparent;
                    }

                    .activeProject {
                        border: 3px solid rgb(76, 219, 255);
                    }

                    #project-1 {
                        background-image: url('../static/assets/cosmocoin.png');
                    }

                    #project-2 {
                        background-image: url('../static/assets/breffniInn.png');
                    }

                    #project-3 {
                        background-image: url('../static/assets/mountaineerV2.png');
                    }

                    #project-4 {
                        background-image: url('../static/assets/kostekpl.png');
                    }

                    #project-5 {
                        background-image: url('../static/assets/disneyPlus.png');
                    }

                    #project-6 {
                        background-image: url('../static/assets/mountaineerV1.png');
                    }
                }
            }
            
        }
    }

    #project_stageArea {
        width: 47vw;
        height: 90vh;
        //background: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        #stagedImage {
            width: 40vw;
            height: 40vh;
            background-image: url('../static/assets/cosmocoin.png');
            background-size: cover;
            background-repeat: no-repeat;
            transition-duration: 0.3s;
            border-radius: 3px;
        }

        #stagedInfo {
            width: 40vw;
            height: 45vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            #stagedTitle {
                padding: 20px 0px 0px 0px;
                font-family: 'Raleway';
                font-size: 1.1rem;
                color: rgb(230, 230, 230);
            }

            #stagedDesc {
                padding: 0px 0px 0px 0px;
                font-family: 'Raleway';
                font-size: 0.85rem;
                color: rgb(230, 230, 230);
            }

            #stagedButtons {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15vw;
                height: 6vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .stagedBtn {
                    width: 6vw;
                    height: 4vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Raleway';
                    transition-duration: 0.3s;
                    cursor: pointer;
                    font-size: 0.9rem;
                }

                #stagedLink {
                    margin: 0px 30px 0px 0px;
                    background: transparent;
                    border: 2px solid rgb(76, 219, 255);
                    color: rgb(76, 219, 255);
                    border-radius: 100px;
                    text-decoration: none;
                }
                #stagedGithub {
                    background: transparent;
                    border: 2px solid rgb(252, 255, 76);
                    color: rgb(252, 255, 76);
                    border-radius: 100px;
                    text-decoration: none;
                }

                #stagedLink:hover {
                    background: rgb(76, 219, 255);
                    color: #333;
                }

                #stagedGithub:hover {
                    background: rgb(252, 255, 76);
                    color: #333;
                }
            }

            #stagedTechTags {
                width: 40vw;
                height: 16vh;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: center;

                #techTitle {
                    width: 40vw;
                    height: 4vh;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-family: 'Raleway';
                    color: #fff;
                }

                #techTags {
                    width: 40vw;
                    height: 12vh;
                    display: inline;
                    align-items: center;
                    border-radius: 4px;
                    overflow-y: scroll;

                    .tag {
                        width: 10vw;
                        height: 4vh;
                        border-radius: 100px;
                        display: inline-block;
                        justify-content: center;
                        align-items: center;
                        margin: 5px;
                        

                        .tagContent {
                            width: 10vw;
                            height: 4vh;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            background: rgba(0,0,0,0);

                            h3 {
                                font-family: 'Raleway';
                                color: rgb(231, 231, 231);
                                font-size: 0.7rem;
                                
                            }
    
                            img {
                                width: 2vw;
                                height: 2.5vh;
                            }
                        }
                    }
                }
            }
        }

    }
}

#about_content {
    position: absolute;
    width: 96vw;
    height: 96vh;
    margin: 2vh 2vw 2vh 2vw;
    border-radius: 8px;
    opacity: 0;
    pointer-events: 'none';
    z-index: 2;
    transition-duration: 0.5s;
    background:rgba(26, 35, 41, 0.8);
    border: 3px solid rgb(76, 219, 255);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    #skillsContainer {
        position: absolute;
        right: 2.5vw;

        .skillsCanvas {
            cursor: pointer;
        }
    }

    #skillsTextCont {
        width: 45vw;
        height: 96vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
        #skillsText {
            width: 45vw;
            height: 70vh;
            margin-bottom: 7vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            // background: white;

            #skillsTopText {
                width: 34vw;
                height: 15vh;
                // background: red;
                margin-left: 2vw;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                h2 {
                    font-size: 3rem;
                    color: #fff;
                    font-family: 'Raleway';
                }
            }

            #skillsDescText {
                width: 30vw;
                height: 50vh;
                margin-left: -2vw;
                // background: red;

                p {
                    padding: 3vh 0vh 0vh 0vh;
                    line-height: 24px;
                    font-size: 1rem;
                    color: #fff;
                    font-family: 'Poppins';
                }
            }
        }
    }
}



#cont_content {
    position: absolute;
    width: 96vw;
    height: 96vh;
    margin: 2vh 2vw 2vh 2vw;
    border-radius: 8px;
    opacity: 0;
    pointer-events: 'none';
    z-index: 2;
    top: 0vh !important;
    transition-duration: 0.5s;
    background:rgba(26, 35, 41, 0.8);
    border: 3px solid rgb(76, 219, 255);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    .runAnimation {
        animation: success 8s ease-in-out;
    }

    #success_snackBar {
        position: absolute;
        top: 5vh;
        right: 5vh;
        width: 20vw;
        height: 8vh;
        background: rgb(120, 226, 106);
        border-radius: 4px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;


        h2 {
            width: 14vw;
            height: 8vh;
            font-family: 'Roboto';
            color: rgb(44, 44, 44);
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #snackIcon {
            width: 6vw;
            height: 8vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #contact_text {
        width: 50vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #contact_welcome {
            width: 40vw;
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1 {
                font-family: 'Roboto', sans-serif;
                color: rgb(236, 236, 236);
                font-size: 3rem;
                font-weight: 100;
                padding: 5px 0px 5px 0px;
            }
    
            h4 {
                text-align: center;
                line-height: 24px;
                font-family: 'Roboto', sans-serif;
                color: rgb(76, 219, 255);
                font-size: 1rem;
                font-weight: 100;
                padding: 5px 0px 5px 0px;

                span {
                    color: #FAFE46;
                    border-bottom: 2px solid transparent;
                    transition-duration: 0.2s;
                }
                span:hover {
                    color: #FAFE46;
                    border-bottom: 2px solid #FAFE46;
                    cursor: pointer;
                }
            }
        }
    }

    #contact_email {
        width: 70vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;


        
        #contact_form {
            height: 70vh;
            width: 60vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            #messageInput {
                width: 40vw;
                height: 25vh;
                display: flex;
                justify-content: center;
                align-items: center;

                textarea {
                    outline: none;
                    border: none;
                    width: 40vw;
                    height: 22vh;
                    padding: 12px;
                    border-bottom: 3px solid rgb(76, 219, 255);
                    background: transparent;
                    font-family: 'Roboto';
                    font-weight: 100;
                    font-size: 1.1rem;
                    color: #fff;
                    border-radius: 4px;
                    background: rgba(0,0,0,0.2);
                }

                textarea::-webkit-input-placeholder {
                    color: rgb(243, 243, 243);
                }

                #messageError {
                    position: absolute;
                    font-size: 0.65rem;
                    color: rgb(194, 61, 0);
                    font-family: 'Roboto';
                    font-weight: 300;
                    margin-top: 29vh;
                    opacity: 0;
                    transition-duration: 0.2s;
                }
                
            }
            .contactInput {
                width: 40vw;
                height: 9vh;
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    outline: none;
                    border: none;
                    width: 40vw;
                    padding: 12px;
                    border-bottom: 3px solid rgb(76, 219, 255);
                    border-radius: 4px;
                    background: transparent;
                    font-family: 'Roboto';
                    font-weight: 100;
                    font-size: 1.1rem;
                    color: #fff;
                    background: rgba(0,0,0,0.2);
                }

                input::-webkit-input-placeholder {
                    color: rgb(243, 243, 243);
                }

                #nameError {
                    font-size: 0.65rem;
                    color: rgb(194, 61, 0);
                    font-family: 'Roboto';
                    font-weight: 300;
                    position: absolute;
                    margin-top: 9.5vh;
                    opacity: 0;
                    transition-duration: 0.2s;
                }


                #emailError {
                    position: absolute;
                    font-size: 0.65rem;
                    color: rgb(194, 61, 0);
                    font-family: 'Roboto';
                    font-weight: 300;
                    margin-top: 9.5vh;
                    opacity: 0;
                    transition-duration: 0.2s;
                }

            }

            #submit {
                width: 90vw;
                height: 20vh;
                display: flex;
                justify-content: center;
                align-items: center;
                
                #submitBtn {
                    width: 10vw;
                    height: 3vw;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    border: 2px solid rgb(76, 219, 255);
                    color: rgb(76, 219, 255);
                    font-family: 'Roboto';
                    font-weight: 100;
                    font-size: 1rem;
                    cursor: pointer;
                    transition-duration: 0.25s;
                }

                #submitBtn:hover {
                    background: #fff;
                    border: 2px solid #fff;
                    color: #333;
                }
            }
        }
    }

    #cont_icons {
        position: absolute;
        bottom: 1vw;
        right: 2vw;
        width: 8vw;
        height: 4vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            text-decoration: none;
        }

        #githubIcon {
            width: 2vw;
            height: 2vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../static/github.png');
            cursor: pointer;
        }

        #githubIcon:hover {
            animation: shake .5s;
            animation-iteration-count: initial;
        }

        #linkedinIcon {
            width: 2vw;
            height: 2vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../static/linkedin.png');
            cursor: pointer;
        }

        #linkedinIcon:hover {
            animation: shake .5s;
            animation-iteration-count: initial;
        }
    }
    
   
}

@media screen and (max-width: 800px) {
    #sidebar {
        display: none;
    }

    #returnBtn {
        width: 30vw;
        height: 7vh;
        left: calc(5vw + 3px);
        h3 {
            font-size: 1rem;
        }
    }
    #exitBtn {
        width: 30vw;
        height: 7vh;
        h3 {
            font-size: 1rem;
        }
    }
    #enterBtn {
        bottom: 5vh;
        left: 35vw;
        width: 30vw;
        height: 7vh;
        h3 {
            font-size: 1rem;
        }
    }
    

    #projectCont {
        width: 32vw;
        height: 12vw;
        left: 18vw;
        top: -0.5vw;
    
        #hex {
            width: 15vw;
            height: 6vw;
            order: 1;
            transform: rotateY(180deg);
        }
    
        #projectClickable {
            width: 17vw;
            height: 6vw;
            order: 2;
            margin-bottom: 12.5vw;
    
            h3 {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 0.7rem;
            }
        }
    }
    
    
    
    #aboutCont {
        width: 32vw;
        height: 12vw;
        left: -20vw;
        top: 1vw;

        #hex {
            width: 15vw;
            height: 6vw;
            order: 2;
            transform: rotateY(180deg);
            transform: rotateZ(180deg);
        }
    
        #aboutClickable {
            order: 1;
            width: 22vw;
            height: 6vw;
            margin-bottom: -12.5vw;
    
            h3 {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 0.7rem;
            }
        }
    }
    
    #contactCont {
        width: 32vw;
        height: 12vw;
        left: 7vw;
        top: 0vw;
    
        #hex {
            width: 15vw;
            height: 6vw;
            order: 1;
        }
    
        #contactClickable {
            order: 2;
            width: 22vw;
            height: 6vw;
            margin-bottom: 0.2vw;
            margin-right: 0.15vw;
    
            h3 {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 0.7rem;
            }
        }
    }

    //*projects contrent*//
    #project_content {
        flex-direction: column-reverse;
        overflow-y: scroll;
        #project_selectionArea {
            width: 90vw;
            height: 330vh;
            #project_selection {
                width: 90vw;
                height: 330vh;
                .selection_row {
                    width: 90vw;
                    height: 55vh;
                    flex-direction: column;
                    .projectOption {
                        width: 88vw;
                        height: 55vh;
                        .projectPic {
                            height: 89%;
                        }
                    }
                }
            }
        }
        #project_stageArea {
            margin-top: 13vh;
            margin-bottom: 5vh;
            width: 90vw;
            height: 100vh;
            #stagedImage {
                width: 80vw;
                height: 25vh;
            }
            #stagedInfo {
                width: 80vw;
                height: 50vh;
                #stagedTitle {
                    font-size: 1rem;
                }
                #stagedDesc {
                    font-size: 0.75rem;
                }
    
                #stagedButtons {
                    width: 44vw;
                    height: 6vh;
                    .stagedBtn {
                        width: 18vw;
                        font-size: 0.7rem;
                    }
                }
    
                #stagedTechTags {
                    width: 80vw;
                    #techTitle {
                        width: 80vw;
                    }
                    #techTags {
                        width: 80vw;
                        .tag {
                            width: 22vw;
                            .tagContent {
                                width: 22vw;
                                h3 {
                                    font-size: 0.5rem;
                                }
                                img {
                                    width: 2vh;
                                    height: 2vh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //**//

    //*aboutCntent*//

    #about_content {
        flex-direction: column;
        overflow-y: scroll; 
        #skillsContainer {
            top: 80vh;
        }
        #skillsTextCont {
            margin-top: 25vh;
            width: 80vw;
            height: 50vh;
            #skillsText {
                width: 80vw;
                height: 50vh;
                #skillsTopText {
                    width: 80vw;
                    height: 15vh;
                    h2 {
                        font-size: 2.5rem;
                    }
                }
                #skillsDescText {
                    width: 80vw;
                    height: 35vh;
                    margin-left: 4vw;
                    p {
                        line-height: 22px;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    //**//

    //*contact content*//

    #cont_content {
        // position: absolute;
        // width: 96vw;
        // height: 96vh;
        // margin: 2vh 2vw 2vh 2vw;
        // border-radius: 8px;
        // opacity: 0;
        // pointer-events: 'none';
        // z-index: 2;
        // top: 0vh !important;
        // transition-duration: 0.5s;
        // background:rgba(26, 35, 41, 0.8);
        // border: 3px solid rgb(76, 219, 255);
        // backdrop-filter: blur(6px);
        // display: flex;
        // justify-content: flex-end;
        // align-items: center;
        // flex-direction: column;
    
        // .runAnimation {
        //     animation: success 8s ease-in-out;
        // }
    
        #success_snackBar {
            // position: absolute;
            // top: 5vh;
            // right: 5vh;
            // width: 20vw;
            // height: 8vh;
            // background: rgb(120, 226, 106);
            // border-radius: 4px;
            // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // opacity: 0;
    
    
            h2 {
                // width: 14vw;
                // height: 8vh;
                // font-family: 'Roboto';
                // color: rgb(44, 44, 44);
                // font-size: 1.3rem;
                // display: flex;
                // justify-content: center;
                // align-items: center;
            }
    
            #snackIcon {
                // width: 6vw;
                // height: 8vh;
                // display: flex;
                // justify-content: center;
                // align-items: center;
            }
        }
    
        #contact_text {
            // width: 50vw;
            // height: 20vh;
            // display: flex;
            // justify-content: center;
            // align-items: center;
    
            #contact_welcome {
                // width: 40vw;
                // height: 20vh;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // flex-direction: column;
                h1 {
                    // font-family: 'Roboto', sans-serif;
                    // color: rgb(236, 236, 236);
                    // font-size: 3rem;
                    // font-weight: 100;
                    // padding: 5px 0px 5px 0px;
                }
        
                h4 {
                    // text-align: center;
                    // line-height: 24px;
                    // font-family: 'Roboto', sans-serif;
                    // color: rgb(76, 219, 255);
                    // font-size: 1rem;
                    // font-weight: 100;
                    // padding: 5px 0px 5px 0px;
    
                    // span {
                    //     // color: #FAFE46;
                    //     // border-bottom: 2px solid transparent;
                    //     // transition-duration: 0.2s;
                    // }
                    // span:hover {
                    //     // color: #FAFE46;
                    //     // border-bottom: 2px solid #FAFE46;
                    //     // cursor: pointer;
                    // }
                }
            }
        }
    
        #contact_email {
            // width: 70vw;
            // height: 70vh;
            // display: flex;
            // justify-content: center;
            // align-items: center;
    
    
            
            #contact_form {
                // height: 70vh;
                // width: 60vw;
                // display: flex;
                // flex-direction: column;
                // justify-content: space-around;
                // align-items: center;
    
                #messageInput {
                    // width: 40vw;
                    // height: 25vh;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
    
                    textarea {
                        // outline: none;
                        // border: none;
                        // width: 40vw;
                        // height: 22vh;
                        // padding: 12px;
                        // border-bottom: 3px solid rgb(76, 219, 255);
                        // background: transparent;
                        // font-family: 'Roboto';
                        // font-weight: 100;
                        // font-size: 1.1rem;
                        // color: #fff;
                        // border-radius: 4px;
                        // background: rgba(0,0,0,0.2);
                    }
    
                    // textarea::-webkit-input-placeholder {
                    //     color: rgb(243, 243, 243);
                    // }
    
                    #messageError {
                        // position: absolute;
                        // font-size: 0.65rem;
                        // color: rgb(194, 61, 0);
                        // font-family: 'Roboto';
                        // font-weight: 300;
                        // margin-top: 29vh;
                        // opacity: 0;
                        // transition-duration: 0.2s;
                    }
                    
                }
                .contactInput {
                    // width: 40vw;
                    // height: 9vh;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
    
                    input {
                        // outline: none;
                        // border: none;
                        // width: 40vw;
                        // padding: 12px;
                        // border-bottom: 3px solid rgb(76, 219, 255);
                        // border-radius: 4px;
                        // background: transparent;
                        // font-family: 'Roboto';
                        // font-weight: 100;
                        // font-size: 1.1rem;
                        // color: #fff;
                        // background: rgba(0,0,0,0.2);
                    }
    
                    // input::-webkit-input-placeholder {
                    //     color: rgb(243, 243, 243);
                    // }
    
                    #nameError {
                        // font-size: 0.65rem;
                        // color: rgb(194, 61, 0);
                        // font-family: 'Roboto';
                        // font-weight: 300;
                        // position: absolute;
                        // margin-top: 9.5vh;
                        // opacity: 0;
                        // transition-duration: 0.2s;
                    }
    
    
                    #emailError {
                        // position: absolute;
                        // font-size: 0.65rem;
                        // color: rgb(194, 61, 0);
                        // font-family: 'Roboto';
                        // font-weight: 300;
                        // margin-top: 9.5vh;
                        // opacity: 0;
                        // transition-duration: 0.2s;
                    }
    
                }
    
                #submit {
                    // width: 90vw;
                    // height: 20vh;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    
                    #submitBtn {
                        // width: 10vw;
                        // height: 3vw;
                        // border-radius: 50px;
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        // background: transparent;
                        // border: 2px solid rgb(76, 219, 255);
                        // color: rgb(76, 219, 255);
                        // font-family: 'Roboto';
                        // font-weight: 100;
                        // font-size: 1rem;
                        // cursor: pointer;
                        // transition-duration: 0.25s;
                    }
    
                    #submitBtn:hover {
                        // background: #fff;
                        // border: 2px solid #fff;
                        // color: #333;
                    }
                }
            }
        }
    
        #cont_icons {
            // position: absolute;
            // bottom: 1vw;
            // right: 2vw;
            // width: 8vw;
            // height: 4vw;
            // display: flex;
            // justify-content: space-around;
            // align-items: center;
    
            // a {
            //     text-decoration: none;
            // }
    
            #githubIcon {
                // width: 2vw;
                // height: 2vw;
                // background-size: contain;
                // background-repeat: no-repeat;
                // background-image: url('../static/github.png');
                // cursor: pointer;
            }
    
            // #githubIcon:hover {
            //     animation: shake .5s;
            //     animation-iteration-count: initial;
            // }
    
            #linkedinIcon {
                // width: 2vw;
                // height: 2vw;
                // background-size: contain;
                // background-repeat: no-repeat;
                // background-image: url('../static/linkedin.png');
                // cursor: pointer;
            }
    
            // #linkedinIcon:hover {
            //     animation: shake .5s;
            //     animation-iteration-count: initial;
            // }
        }
        
       
    }

    //**//
}