@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.skillsCanvas {
  background: transparent;
}

#exitBtn {
  position: absolute;
  top: 4vh;
  left: 4vh;
  z-index: 3;
  width: 12vw;
  height: 7vh;
  background: transparent;
  border: 3px solid #dcf0fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
}

#exitBtn h3 {
  font-family: 'Raleway', sans-serif;
  color: #dcf0fc;
  font-size: 1.2rem;
}

#returnBtn {
  position: absolute;
  top: 5.5vh;
  left: calc(8vh + 3px);
  z-index: 5;
  width: 12vw;
  height: 7vh;
  background: transparent;
  border: 3px solid #dcf0fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
}

#returnBtn h3 {
  font-family: 'Raleway', sans-serif;
  color: #dcf0fc;
  font-size: 1.2rem;
}

#exitBtn {
  position: absolute;
  top: 4vh;
  left: 4vh;
  z-index: 3;
  width: 12vw;
  height: 7vh;
  background: transparent;
  border: 3px solid #dcf0fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
}

#exitBtn h3 {
  font-family: 'Raleway', sans-serif;
  color: #dcf0fc;
  font-size: 1.2rem;
}

#enterBtn {
  position: absolute;
  bottom: 5vh;
  left: 44vw;
  z-index: 3;
  width: 12vw;
  height: 7vh;
  background: transparent;
  border: 3px solid #dcf0fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  cursor: pointer;
}

#enterBtn h3 {
  font-family: 'Raleway', sans-serif;
  color: #dcf0fc;
  font-size: 1.2rem;
}

/*************************************/
#projectCont {
  position: absolute;
  width: 16vw;
  height: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
}

#projectCont #hex {
  width: 8vw;
  height: 4vw;
  background-image: url("../static/hexIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#projectCont #projectClickable {
  width: 9vw;
  height: 3vw;
  border: 2px solid #FAFE46;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  z-index: 6;
}

#projectCont #projectClickable h3 {
  font-family: 'Raleway';
  font-weight: 200;
  color: #e3e641;
}

#projectCont #projectClickable:hover {
  background: #FAFE46;
}

#projectCont #projectClickable:hover h3 {
  color: #2c2c2c;
}

#aboutCont {
  position: absolute;
  width: 16vw;
  height: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
}

#aboutCont #hex {
  width: 8vw;
  height: 4vw;
  background-image: url("../static/hexIcon2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#aboutCont #aboutClickable {
  width: 9vw;
  height: 3vw;
  border: 2px solid #FAFE46;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  z-index: 6;
}

#aboutCont #aboutClickable h3 {
  font-family: 'Raleway';
  font-weight: 200;
  color: #e3e641;
}

#aboutCont #aboutClickable:hover {
  background: #FAFE46;
}

#aboutCont #aboutClickable:hover h3 {
  color: #2c2c2c;
}

#contactCont {
  position: absolute;
  width: 16vw;
  height: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
}

#contactCont #hex {
  width: 8vw;
  height: 4vw;
  background-image: url("../static/hexIcon3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#contactCont #contactClickable {
  width: 9vw;
  height: 3vw;
  border: 2px solid #FAFE46;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 3px;
  margin-right: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  z-index: 6;
}

#contactCont #contactClickable h3 {
  font-family: 'Raleway';
  font-weight: 200;
  color: #e3e641;
}

#contactCont #contactClickable:hover {
  background: #FAFE46;
}

#contactCont #contactClickable:hover h3 {
  color: #2c2c2c;
}

#project_content {
  position: absolute;
  width: 96vw;
  height: 96vh;
  margin: 2vh 2vw 2vh 2vw;
  border-radius: 8px;
  opacity: 0;
  pointer-events: 'none';
  z-index: 2;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: rgba(26, 35, 41, 0.8);
  border: 3px solid #4cdbff;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#project_content #project_selectionArea {
  width: 47vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#project_content #project_selectionArea #project_selection {
  width: 46vw;
  height: 81vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#project_content #project_selectionArea #project_selection .selection_row {
  width: 46vw;
  height: 27vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#project_content #project_selectionArea #project_selection .selection_row .projectOption {
  width: 22vw;
  height: 25vh;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#project_content #project_selectionArea #project_selection .selection_row .projectOption .projectPic {
  width: 92%;
  height: 81%;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border: 3px solid transparent;
}

#project_content #project_selectionArea #project_selection .selection_row .projectOption .activeProject {
  border: 3px solid #4cdbff;
}

#project_content #project_selectionArea #project_selection .selection_row .projectOption #project-1 {
  background-image: url("../static/assets/cosmocoin.png");
}

#project_content #project_selectionArea #project_selection .selection_row .projectOption #project-2 {
  background-image: url("../static/assets/breffniInn.png");
}

#project_content #project_selectionArea #project_selection .selection_row .projectOption #project-3 {
  background-image: url("../static/assets/mountaineerV2.png");
}

#project_content #project_selectionArea #project_selection .selection_row .projectOption #project-4 {
  background-image: url("../static/assets/kostekpl.png");
}

#project_content #project_selectionArea #project_selection .selection_row .projectOption #project-5 {
  background-image: url("../static/assets/disneyPlus.png");
}

#project_content #project_selectionArea #project_selection .selection_row .projectOption #project-6 {
  background-image: url("../static/assets/mountaineerV1.png");
}

#project_content #project_stageArea {
  width: 47vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#project_content #project_stageArea #stagedImage {
  width: 40vw;
  height: 40vh;
  background-image: url("../static/assets/cosmocoin.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border-radius: 3px;
}

#project_content #project_stageArea #stagedInfo {
  width: 40vw;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#project_content #project_stageArea #stagedInfo #stagedTitle {
  padding: 20px 0px 0px 0px;
  font-family: 'Raleway';
  font-size: 1.1rem;
  color: #e6e6e6;
}

#project_content #project_stageArea #stagedInfo #stagedDesc {
  padding: 0px 0px 0px 0px;
  font-family: 'Raleway';
  font-size: 0.85rem;
  color: #e6e6e6;
}

#project_content #project_stageArea #stagedInfo #stagedButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15vw;
  height: 6vh;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

#project_content #project_stageArea #stagedInfo #stagedButtons .stagedBtn {
  width: 6vw;
  height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway';
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
  font-size: 0.9rem;
}

#project_content #project_stageArea #stagedInfo #stagedButtons #stagedLink {
  margin: 0px 30px 0px 0px;
  background: transparent;
  border: 2px solid #4cdbff;
  color: #4cdbff;
  border-radius: 100px;
  text-decoration: none;
}

#project_content #project_stageArea #stagedInfo #stagedButtons #stagedGithub {
  background: transparent;
  border: 2px solid #fcff4c;
  color: #fcff4c;
  border-radius: 100px;
  text-decoration: none;
}

#project_content #project_stageArea #stagedInfo #stagedButtons #stagedLink:hover {
  background: #4cdbff;
  color: #333;
}

#project_content #project_stageArea #stagedInfo #stagedButtons #stagedGithub:hover {
  background: #fcff4c;
  color: #333;
}

#project_content #project_stageArea #stagedInfo #stagedTechTags {
  width: 40vw;
  height: 16vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#project_content #project_stageArea #stagedInfo #stagedTechTags #techTitle {
  width: 40vw;
  height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway';
  color: #fff;
}

#project_content #project_stageArea #stagedInfo #stagedTechTags #techTags {
  width: 40vw;
  height: 12vh;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  overflow-y: scroll;
}

#project_content #project_stageArea #stagedInfo #stagedTechTags #techTags .tag {
  width: 10vw;
  height: 4vh;
  border-radius: 100px;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

#project_content #project_stageArea #stagedInfo #stagedTechTags #techTags .tag .tagContent {
  width: 10vw;
  height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0);
}

#project_content #project_stageArea #stagedInfo #stagedTechTags #techTags .tag .tagContent h3 {
  font-family: 'Raleway';
  color: #e7e7e7;
  font-size: 0.7rem;
}

#project_content #project_stageArea #stagedInfo #stagedTechTags #techTags .tag .tagContent img {
  width: 2vw;
  height: 2.5vh;
}

#about_content {
  position: absolute;
  width: 96vw;
  height: 96vh;
  margin: 2vh 2vw 2vh 2vw;
  border-radius: 8px;
  opacity: 0;
  pointer-events: 'none';
  z-index: 2;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: rgba(26, 35, 41, 0.8);
  border: 3px solid #4cdbff;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cont_content {
  position: absolute;
  width: 96vw;
  height: 96vh;
  margin: 2vh 2vw 2vh 2vw;
  border-radius: 8px;
  opacity: 0;
  pointer-events: 'none';
  z-index: 2;
  top: 0vh !important;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: rgba(26, 35, 41, 0.8);
  border: 3px solid #4cdbff;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#cont_content #contact_text {
  width: 50vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cont_content #contact_text #contact_welcome {
  width: 40vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#cont_content #contact_text #contact_welcome h1 {
  font-family: 'Roboto', sans-serif;
  color: #ececec;
  font-size: 3rem;
  font-weight: 100;
  padding: 5px 0px 5px 0px;
}

#cont_content #contact_text #contact_welcome h4 {
  text-align: center;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  color: #4cdbff;
  font-size: 1rem;
  font-weight: 100;
  padding: 5px 0px 5px 0px;
}

#cont_content #contact_text #contact_welcome h4 span {
  color: #FAFE46;
  border-bottom: 2px solid transparent;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#cont_content #contact_text #contact_welcome h4 span:hover {
  color: #FAFE46;
  border-bottom: 2px solid #FAFE46;
  cursor: pointer;
}

#cont_content #contact_email {
  width: 70vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cont_content #contact_email #contact_form {
  height: 70vh;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cont_content #contact_email #contact_form #messageInput {
  width: 40vw;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cont_content #contact_email #contact_form #messageInput textarea {
  outline: none;
  border: none;
  width: 40vw;
  height: 22vh;
  padding: 12px;
  border-bottom: 3px solid #4cdbff;
  background: transparent;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
}

#cont_content #contact_email #contact_form #messageInput textarea::-webkit-input-placeholder {
  color: #f3f3f3;
}

#cont_content #contact_email #contact_form #messageInput #messageError {
  position: absolute;
  font-size: 0.65rem;
  color: #c23d00;
  font-family: 'Roboto';
  font-weight: 300;
  margin-top: 29vh;
  opacity: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#cont_content #contact_email #contact_form .contactInput {
  width: 40vw;
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cont_content #contact_email #contact_form .contactInput input {
  outline: none;
  border: none;
  width: 40vw;
  padding: 12px;
  border-bottom: 3px solid #4cdbff;
  border-radius: 4px;
  background: transparent;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 1.1rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}

#cont_content #contact_email #contact_form .contactInput input::-webkit-input-placeholder {
  color: #f3f3f3;
}

#cont_content #contact_email #contact_form .contactInput #nameError {
  font-size: 0.65rem;
  color: #c23d00;
  font-family: 'Roboto';
  font-weight: 300;
  position: absolute;
  margin-top: 9.5vh;
  opacity: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#cont_content #contact_email #contact_form .contactInput #emailError {
  position: absolute;
  font-size: 0.65rem;
  color: #c23d00;
  font-family: 'Roboto';
  font-weight: 300;
  margin-top: 9.5vh;
  opacity: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#cont_content #contact_email #contact_form #submit {
  width: 90vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cont_content #contact_email #contact_form #submit #submitBtn {
  width: 10vw;
  height: 3vw;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 2px solid #4cdbff;
  color: #4cdbff;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

#cont_content #contact_email #contact_form #submit #submitBtn:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #333;
}

#cont_content #cont_icons {
  position: absolute;
  bottom: 1vw;
  right: 2vw;
  width: 8vw;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cont_content #cont_icons a {
  text-decoration: none;
}

#cont_content #cont_icons #githubIcon {
  width: 2vw;
  height: 2vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../static/github.png");
  cursor: pointer;
}

#cont_content #cont_icons #githubIcon:hover {
  -webkit-animation: shake .5s;
          animation: shake .5s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

#cont_content #cont_icons #linkedinIcon {
  width: 2vw;
  height: 2vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../static/linkedin.png");
  cursor: pointer;
}

#cont_content #cont_icons #linkedinIcon:hover {
  -webkit-animation: shake .5s;
          animation: shake .5s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
/*# sourceMappingURL=style.css.map */